{{#partial "content"}}

    <div class="container-fluid">
    <div class="squad-form">
     <form class="form" action="/squad/new" method="post">
            <h1>Create Your Squad</h1>
         <div class="mb-5">
         <h6>Name:</h6>
            <input type="text" placeholder="Enter the squad name" name="name" required>
         </div>
         <div class="mb-5">
         <h6>Cause:</h6>
            <input type="text" placeholder="Enter mission" name="cause" required>
         </div>
         <div class="mb-5">
         <h6>MaxSize:</h6>
            <input type="number" placeholder="Enter the max size" name="size" required>
         </div>

            <input type="submit" class="btn">
        </form>
    </div>
    </div>

{{/partial}}
{{> layout.hbs}}