{{#partial "content"}}
    <div class="container-fluid">
        <div class="index">
    <h3 class="text-center mb-5">Heroes and Squads Maker</h3>
            <h2 class="text-center">“Life doesn’t give us purpose. We give it purpose.” </h2>
            <h5 class="text-center text-white">– The Flash</h5>
<!--           <h1>LET'S <br>-->
<!--               BE <br>-->
<!--               SUPER</h1>-->
            <a href="/hero-form"><button class="btn">Create Hero</button></a>
            <a href="/squad-form"><button class="btn">Create A Squad</button></a>

    </div>
    </div>
{{/partial}}
{{> layout.hbs}}