{{#partial "content"}}


    <h1 class="text-center">Create a Hero</h1>
  <div class="container">
      <div class="hero-form">
  <form class="form" action="/hero/new" method="post">
      <div class="mb-5">
           <label for="name">Name:</label>
           <input type="text" placeholder="Enter hero's name" name="name" required>
      </div>
          <div class="mb-5">
              <label for="age">Age:</label>
              <input type="number" placeholder="Enter hero's age" name="age" required>
          </div>
              <div class="mb-5">
                  <label for="specialPowers">Powers:</label>
                  <input type="text" placeholder="Enter hero's specialPowers" name="specialPower" required>
              </div>
                   <div class="mb-5">
                       <label for="weakness">Weakness:</label>
                       <input type="text" placeholder="Enter hero's weakness" name="weakness" required>
                   </div>

            <input class="btn" type="submit">
        </form>
  </div>
  </div>


{{/partial}}
{{> layout.hbs}}