{{#partial "content"}}
    <h2>Heroes</h2>
            <a href="/hero-form"><button>Create Hero</button></a>
            <a href="/squad-form"><button>Create Hero</button></a>
{{/partial}}
{{> layout.hbs}}