{{#partial "content"}}
     <form class="form" action="/squad/new" method="post">
            <h1>Create Your Squad</h1>
            <input type="text" placeholder="Enter the squad name" name="squadName" required>
            <input type="text" placeholder="Enter mission" name="cause" required>
            <input type="number" placeholder="Enter the max size" name="size" required>
            <input type="submit" class="btn">
        </form>

{{/partial}}
{{> layout.hbs}}