{{#partial "content"}}

    <h3>Congratulations you have created a new squad</h3>


    <div class="container">
        <p>Name: {{squad.name}}</p>
        <p>Cause: {{squad.cause}}</p>
        <p>Maximum size: {{squad.size}}</p>
    </div>

    {{/partial}}

{{> layout.hbs}}