{{#partial "content"}}

        <div class="success">

            <h3>Success <br>  <span>{{ item }} </span> <br> Has been created <br>{{sqId}}</h3>

            <a class="btns btn-green" href="/hero-detail">View Heroes</a>
            <a class="btns btn-green" href="/squad-detail">View Squads</a>

        </div>
{{/partial}}
{{> layout.hbs}}