{{#partial "content"}}

    <div class="container-fluid">
        <div class="success">
            <h3>Congratulations!!<br> your creation is <br>Successful </h3>

            <a href="/hero-detail"><button class="btn">View Heroes</button></a>
            <a href="/squad-detail"><button class="btn">View Squads</button></a>
        </div>
    </div>

{{/partial}}
{{> layout.hbs}}